.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}

.delete-comment {
    background-image: url("/images/parts8.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    float: right;
    margin: 5px 0 0 10px;
    background-size: 11px !important;
}