.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}

.loved {
  background-image: url("/images/parts7.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.delete-comment {
    background-image: url("/images/parts8.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    float: right;
    margin: 5px 0 0 10px;
    background-size: 11px !important;
}